<div class="card">
    <img class="img-fluid"
        src="https://assets.afcdn.com/recipe/20211214/125831_w1024h1024c1cx866cy866cxt0cyt292cxb1732cyb1732.jpg"
        alt="A CHANGER">
    <div class="card-body">
        <h3>Nom de la recette TODO</h3>
        <p><strong>Email :</strong> bidule@gmail.com</p>
        <p>Difficulté: NORMAL</p>
        <p>Pour: X personnes</p>
        {# Tu peux ajouter ici d'autres infos comme : prénom, rôles, etc. #}
    </div>
</div>