{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page d'accueil !{% endblock %}

{% block body %}
<!-- Contenu principal -->
<div class="container d-flex justify-content-center align-items-center mb-5">
    <div class="jumbotron text-center mb-5">
        <h1 class="display-4">Bienvenue sur notre site !</h1>
        <hr class="my-4">
        <p class="lead">Découvrez nos recettes de qualité.</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row g-3">
            {% for recipe in recipes %}
                <div class="col-md-3">
                    {% include "_partials/recipe-card.html.twig" with { 'recipe': recipe } %}
                </div>
            {% else %}
                <div class="col-12">
                    <p>Aucune recette disponible.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
