{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Liste des recettes</h1>

    <a href="{{ path('recette_create') }}" class="btn btn-primary mb-3">Créer une nouvelle recette</a>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for recipe in recipes %}
            <div class="col">
                {% include 'recette/_recipe-card.html.twig' with {'recipe': recipe} %}
            </div>
        {% else %}
            <p>Aucune recette pour le moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
