{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
{# Formulaire d'ajout de commentaire #}
<div class="card shadow-sm w-100 mt-3" style="max-width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">Ajouter un commentaire</h5>

        {{ form_start(comment) }}
            <div class="mb-3">
                {{ form_row(comment.content) }}
            </div>
            <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(comment) }}
    </div>
</div>
{% endblock %}
