<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ ingredient.name }}</h5>
        <a href="{{ path('admin_ingredient_edit', {'id': ingredient.id}) }}" class="btn btn-warning">Modifier</a>
        <form method="post" action="{{ path('admin_ingredient_delete', {'id': ingredient.id}) }}" style="display:inline-block" data-confirm-delete>
            <input type="hidden" name="_token" value="{{ csrf_token('delete_ingredient_' ~ ingredient.id) }}">
            <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>
    </div>
</div>
