body, footer, .navbar {
    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden; 
}

.card-body p {
    text-align: justify;
}

.container {
    flex-grow: 1;
    padding: 20px; 
}

footer {
    width: 100%;
    background-color: #343a40; 
    color: white;
    margin-top: 50px;
}

footer small {
    font-size: 0.8em;
}

/* Désactiver l'effet hover pour les boutons "Connexion" et "Inscription" */
.navbar .nav-link.btn.btn-outline-primary:hover,
.navbar .nav-link.btn.btn-outline-success:hover {
    background-color: none; 
    border-color: inherit; 
    color: white; 
}

.navbar .nav-link.btn.btn-outline-primary {
    background-color: #127089;
    color: white;
}

.navbar .nav-link.btn.btn-outline-success {
    background-color: black;
    color: white;
}

.jumbotron {
    margin-top: 0;
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}

/* Applique une mise en page en colonne aux cases à cocher */
.ingredients-checkboxes {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

/* Limite le nombre d'éléments par colonne à 5 */
.ingredients-checkboxes > div {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    gap: 10px;
}

/* S'assure qu'il y a exactement 5 cases par colonne */
.ingredients-checkboxes > div > label:nth-child(n+6) {
    display: none; 
}

.card-body .d-flex span {
    white-space: nowrap;
}
.card-img-container {
    height: 200px; 
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    /* object-fit: cover;  */
}

/* Masquer le mot de passe par défaut */
#password[type="password"] {
    font-family: 'Arial', sans-serif;
}

/* Lorsque le checkbox est coché, afficher le mot de passe */
#toggle-password:checked + label + #password {
    -webkit-text-security: none; /* Pour Chrome, Safari */
    -text-security: none; /* Pour Firefox */
}

/* Changer l'icône lorsque le mot de passe est visible */
#toggle-password:checked + label i {
    content: '\f070'; /* Code pour l'icône "œil barré" dans Bootstrap Icons */
}

