body, footer, .navbar {
    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum 100% de la hauteur de la fenêtre */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.card-body p {
    text-align: justify;
}

.container {
    flex-grow: 1;
    padding: 20px; /* Espace autour du contenu */
}

footer {
    width: 100%;
    background-color: #343a40; /* Couleur de fond pour le footer */
    color: white;
    margin-top: 50px;
}

footer small {
    font-size: 0.8em;
}

/* Désactiver l'effet hover pour les boutons "Connexion" et "Inscription" */
.navbar .nav-link.btn.btn-outline-primary:hover,
.navbar .nav-link.btn.btn-outline-success:hover {
    background-color: none; /* Aucune couleur de fond au survol */
    border-color: inherit; /* Conserver la bordure originale */
    color: white; /* Conserver la couleur du texte */
}

.navbar .nav-link.btn.btn-outline-primary {
    background-color: #127089;
    color: white;
}

.navbar .nav-link.btn.btn-outline-success {
    background-color: black;
    color: white;
}

.jumbotron {
    margin-top: 0;
    padding-top: 2rem; /* Réduit l'espace en haut */
    padding-bottom: 2rem; /* Réduit l'espace en bas */
}

/* Applique une mise en page en colonne aux cases à cocher */
.ingredients-checkboxes {
    display: flex;
    flex-wrap: wrap; /* Permet de créer plusieurs colonnes */
    gap: 10px; /* Espacement entre les cases à cocher */
}

/* Limite le nombre d'éléments par colonne à 5 */
.ingredients-checkboxes > div {
    display: flex;
    flex-direction: row;
    max-width: 200px; /* Ajuste la largeur des colonnes si nécessaire */
    gap: 10px;
}

/* S'assure qu'il y a exactement 5 cases par colonne */
.ingredients-checkboxes > div > label:nth-child(n+6) {
    display: none; /* Masque toutes les cases au-delà de la 5ème dans chaque colonne */
}
